* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: #141414;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: arial;
}

    h2 {
        color: #fff;
        margin-bottom: 15px;
        font-size: 52px;
        font-weight: 300;
    }
    
    p {
        color: #878787;
        margin-bottom: 35px;
        font-size: 26px;
    }

    .feh-shiny-button {
        position: relative;
        padding: 20px 32px;
        border-radius: 12px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        background: #1F1F1F;
        transition: all 0.3s ease;
        /* z-index: 1; */
    }
    .feh-shiny-button:hover {
        background: #333;
    }

    .feh-border-mask {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px;
        width: 100%;
        height: 100%;
        padding: 1px;
        mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0) border-box;
        mask-composite: exclude;
    }
    
    /* .feh-border-glow {
        animation: rotateShine 3s linear infinite;
        background: conic-gradient(from 0deg, transparent 0%, #fff 10%, #000, transparent 20%);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 500px;
        transform: translate(-50%, -50%);
        transform-origin: 0 0;
        z-index: 1;
    } */

@keyframes rotateShine {
    0% { 
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100% { 
        transform: rotate(360deg) translate(-50%, -50%);
    }
} 